{{#each ingredients as |ingredient|}}

  <!-- {{> partial}} -->
  <!-- NOTE: 'partial' can be named anything, as long as the filename is named the same! -->
  <!-- Don't uncomment yet -->

 <!-- Developers, why are we using data-id and not just id? -->
<ul data-id="{{ingredient.id}}">
  <li>
    <p class="name" data-name="{{ingredient.name}}"> <small>Ingredient: {{ingredient.name}}</small> </p>
    <p class="unit" data-unit="{{ingredient.unit}}"> <small>Unit: {{ingredient.unit}}</small> </p>
    <p class="quantity" data-quantity="{{ingredient.quantity}}"> <small>Quantity: {{ingredient.quantity}}</small> </p>
    <p class="notes" data-notes="{{ingredient.notes}}"> {{#if ingredient.notes}}
      {{ingredient.notes}}
    {{else}}
      No notes provided.
    {{/if}}
    </p>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#create-ingredient-modal" id="update-ing">
      Update/Change
    </button>
    <button class="btn btn-danger remove-ing" id="remove-ing">Remove</button>
  </li>
</ul>

{{/each}}
